@charset "UTF-8";
@namespace h "http://www.w3.org/1999/xhtml/";
@namespace epub "http://www.idpg.org/2007/ops";

/*	dys.css
	A CSS following dyslexia styling best practices
	Meant for reflowable eBooks
	Built using Blitz eBook framework
	Author: Jiminy Panoz (Chapal & Panoz)
	Licence: CC0
																*/


html {}

/* Reset */

article,
address,
aside,
blockquote,
canvas,
dd,
details,
div,
dl,
dt,
figure,
figcaption,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
li,
main,
nav,
ol,
p,
pre,
section,
summary,
ul {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: inherit;
  text-indent: 0;
  font-style: normal;
  font-weight: normal;
}

article,
aside,
figure,
figcaption,
footer,
header,
main,
nav,
section {
  display: block;
}

a,
abbr,
b,
bdi,
bdo,
cite,
code,
data,
del,
dfn,
em,
i,
ins,
kbd,
mark,
q,
rp,
rt,
rtc,
ruby,
s,
samp,
small,
span,
span[class],
strong,
sub,
sup,
time,
var {
  display: inline;
  font-size: inherit !important;
  vertical-align: baseline !important;
  font-style: normal;
  font-weight: normal;
  color: inherit;
  text-decoration: none;
}

q {
  quotes: none;
}

/* Layout */

@page {
  margin: 30px 30px 20px 30px;
  padding: 0;
}

body {
  font-family: "Trebuchet MS", "BN Trebuchet MS", "Myriad Pro", Seravek, "PT Sans", "Frutiger Neue", Roboto, sans-serif;
  font-size: 100%;
  line-height: 1.75;
  margin: 0 16px;
  padding: 0;
  text-indent: 0;
  widows: 2;
  orphans: 2;
  text-align: left !important;
  adobe-hyphenate: none !important;
  -ms-hyphens: none !important;
  -moz-hyphens: none !important;
  -webkit-hyphens: none !important;
  -epub-hyphens: none !important;
  hyphens: none !important;

/*letter-spacing: 0.0625em;
  word-spacing: 0.125em;		*/
}

body.yellow {
  background-color: #F2F5A9;
  background-image: -webkit-linear-gradient(left, #f2f5a9, #f2f5a9);
  background-image: linear-gradient(left, #f2f5a9, #f2f5a9);
  padding: 2%;
}

body.mint {
  background-color: #A9F5BC;
  background-image: -webkit-linear-gradient(left, #a9f5bc, #a9f5bc);
  background-image: linear-gradient(left, #a9f5bc, #a9f5bc);
  padding: 2%;
}

body.blue {
  background-color: #E0F2F7;
  background-image: -webkit-linear-gradient(left, #E0F2F7, #E0F2F7);
  background-image: linear-gradient(left, #E0F2F7, #E0F2F7);
  padding: 2%;
}

body.pink {
  background-color: #FBEFFB;
  background-image: -webkit-linear-gradient(left, #FBEFFB, #FBEFFB);
  background-image: linear-gradient(left, #FBEFFB, #FBEFFB);
  padding: 2%;
}

.baseline > p,
.baseline > div,
.baseline li,
.baseline dt,
.baseline dd {
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 92%,rgba(0,0,0,0.3) 100%); 
  background-image: linear-gradient(top, rgba(0,0,0,0.3) 92%,rgba(0,0,0,0.3) 100%);
  background-size: 100% 1.75em;
  background-position: top -0.45em left 0;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6,
dt {
  page-break-inside: avoid;
  break-inside: avoid-page;
  page-break-after: avoid;
  break-after: avoid-page;
  text-transform: lowercase;
  font-weight: bold;
}

h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter,
h6::first-letter,
dt::first-letter {
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
  line-height: 1.75;
  margin-top: 0em;
  margin-bottom: 1.75em;
  page-break-before: always;
  break-before: page;
}

h2 {
  font-size: 1.5625em;
  line-height: 1.12;
  margin-top: 2.24em;
  margin-bottom: 1.12em;
}

h3 {
  font-size: 1.25em;
  line-height: 1.4;
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}

h4 {
  font-size: 1em;
  line-height: 1.75;
  margin-top: 1.75em;
  margin-bottom: 0em;
}

/* Body copy */

p {
  font-size: 1em;
  line-height: inherit;
  margin: 1.75em 0 0 0;
  text-indent: 0;
}

dt {
  margin: 1.75em 0 0 0;
}

div,
ul,
ol,
blockquote,
dl,
pre,
table {
  font-size: 1em;
  line-height: inherit;
  margin: 1.75em 0;
}

blockquote {
	border-left: 2px solid #999;
	padding-left: 5%;
}

blockquote p {
  margin: 0;
  font-style: normal;
}

ol,
ul,
dl {
  padding-left: 5%;
}

li {
  font-size: 1em;
  line-height: inherit;
}

/* Inline elements */

a {
  text-decoration: none;  
  font-weight: bold;
  color: #0101df;
  -webkit-text-fill-color: #0101df;
}

abbr {}

i,
cite,
dfn,
em {
  font-weight: bold;
}

b,
strong {
  font-weight: bold;
}

/* Misc */

hr {
  width: 100%;
  margin: 1.6875em 0;
  height: 0.0625em;
  background-color: #171717;
  border: none;
  border-top: 0.0625em solid #eaeaea;
}

table {
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  margin: 1.75em 0;
}

caption {
  caption-side: top;
  text-align: left;
  font-weight: bold;
}

th {
  empty-cells: show;
  border: 0.0625em solid #333333;
  text-align: left;
  font-weight: bold;
  padding: 0.8125em 10px;
}

td {
  empty-cells: show;
  border: 0.0625em solid #333333;
  text-align: left;
  padding: 0.8125em 10px;
}

canvas,
iframe,
svg,
video {
  max-width: 100%;
  height: auto;
}

aside {
  border: 0.0625em solid #c2c2c2;
  padding: 0.8125em;
}

.footnote {
  font-size: 1em;
  line-height: 1.75;
  text-indent: 0;
}

/* Images */

figure {
  page-break-inside: avoid;
  break-inside: avoid-page;
  margin: 1.75em 0;
}

figcaption,
.caption {
  font-size: 1em;
  line-height: 1.75;
  text-indent: 0;
  text-align: left;
  margin-top: 0;
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}

img.portrait {
  width: auto;
  max-width: 100%;
  height: 100%;
  max-height: 99vh;
}

figure > img + p,
figcaption > p,
div > img + p,
p > img + span {
	margin-top: 0;
}

img[alt=""],
[role~='presentation'] {
  display: none;
}

/* Overrides */

.dropcap,
.drop-cap,
p::first-letter,
div::first-letter {
  float: none !important;
  font-size: 1em !important;
  font-weight: normal !important;
}

p::first-line,
div::first-line {
  font-weight: normal !important;
  font-variant: normal !important;
}

ol:before,
ul:before {
  content:'';
  display: none;	
}

ol {
  list-style-type: disc;
}

ul {
  list-style-type: decimal;
}

/*
*:before,
*:after {
	content: '' !important;
	display: none;
}
*/

abbr[title]:after {
  display: inline;
  content: ' ('attr(title)')' !important;
}
